<div class= "Sign_Form">
<h1>Log in</h1>
<hr />

  <% if flash[:error] %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" >×</button>
      <strong><%= flash[:error] %></strong>
    </div>
  <% end %>
  
  <% if flash[:success] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" >×</button>
      <strong><%= flash[:success] %></strong>
    </div>
  <% end %>

<%= form_tag(:action => 'login_attempt') do %>
	<p>Username or Email:</br> <%= text_field_tag(:username_or_email) %></p>
	<p>Password:</br> <%= password_field_tag :login_password %></p>
	<%= submit_tag "Log In", class: "btn" %>
<% end %>

</div>