<h1>Manage servers</h1>
<hr />
<%= link_to "New server", new_server_path, class: "btn btn-default" %>
<hr />
<div id="container">

  <table class="text-center table">
    <tr class="well text-uppercase" style="font-family: monospace">
      <td>ID</td>
      <td>name</td>
      <td>ip</td>
      <td>port</td>
      <td>actions</td>
    </tr>

    <% @servers.each do |server| %>
      <tr>
        <td><%= server.id %></td>
        <td><%= server.name %></td>
        <td><%= server.ip %></td>
        <td><%= server.port %></td>
        <td>
          <%= link_to "Delete Server", server_path(server.id), method: :delete, data: { confirm: "Are you sure?" } %> |
          <%= link_to "Edit Server", edit_server_path(server.id) %>
        </td>
      </tr>
    <% end %>
  </table>  
</div>