<h1>Violations</h1>
<hr />
	<%= form_tag("/violations/filter", :method=>"post") do %>
		<select id="type_name" name="type_name">
			<%= options_for_select(@viols) %>
		</select>
		<%= submit_tag("Search", :class=>"btn") %>
	<% end %>
<hr />
<div id="container">
<ul>
<% @violations.each do |viol| %>
	<% player = Player.find(viol.player_id) %>
	<% server = Server.find(viol.server_id) %>
	<li>
	<%= "[#{viol.date}][" %>
	<%= link_to player.guid, "http://www.ggc-stream.net/search/server/guid/gid/#{player.guid}" %>
	<%= "] #{viol.name} - #{viol.type_name}: #{viol.details} | [#{server.name}]" %>
	</li>
<% end %>
</ul>
</div>

