<h1>Violations</h1>
<hr />

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#violation_types">
	Filter Types <%= "(#{@violation_filter.size}/#{@viol_types.size})" %>
</button>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#servers">
	Filter Servers <%= "(#{@server_filter.size}/#{@servers.size})" %>
</button>

<div id="violation_types" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			  <h4 class="modal-title" id="myModalLabel">Filter Violations</h4>
			</div>
			
			<div class="modal-body">
			
			<%= form_tag(filter_violations_path, :method=>"get") do %>
				<table class="table">
				<% @viol_types.each do |type| %>
					<tr>
						<td><%= type %></td>
						<td><input value="<%= type %>" id="<%= type %>" name="violation_filter[]" type="checkbox" <%= "checked='checked'" if @violation_filter.include?(type) %> /></td>
					</tr>
				<% end %>
				</table>
				<%= submit_tag("Filter", :class=>"btn") %>
			<% end %>
			</div>
		</div>
	</div>
</div>

<div id="servers" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			  <h4 class="modal-title" id="myModalLabel">Filter Servers</h4>
			</div>
			
			<div class="modal-body">
			
			<%= form_tag(filter_violations_path, :method=>"get") do %>
				<table class="table">
				<% @servers.each do |server| %>
					<tr>
						<td><%= server.name %></td>
						<td><input value="<%= server.id %>" id="<%= server.id %>" name="server_filter[]" type="checkbox" <%= "checked=\"checked\"" if @server_filter.include?(server.id.to_s) %>" /></td>
					</tr>
				<% end %>
				</table>
				<%= submit_tag("Filter", :class=>"btn") %>
			<% end %>
			</div>
		</div>
	</div>
</div>


<hr />
<div id="container">
	<%= will_paginate @violations, :params => { :type_name => @type_name } %>
	<table class="text-center table">
		<tr class="well text-uppercase" style="font-family: monospace">
			<td>Date</td>
			<td>GUID</td>
			<td>Name</td>
			<td>Type</td>
			<td>Details</td>
			<td>Server</td>
			<td>Permlink</td>
		</tr>

		<% @violations.each do |viol| %>
			<% player = @players.find(viol.player_id) %>
			<% server = @servers.find(viol.server_id) %>
			<tr>
				<td><%= viol.date %></td>
				<td><%= link_to player.guid, player_path(player) %></td>
				<td><%= viol.name %></td>
				<td><%= viol.type_name %></td>
				<td><%= viol.details %></td>
				<td><%= server.name %></td>
				<td><%= link_to '[link]', violation_path(viol) , :target => "_blank" %></td>
			</tr>
		<% end %>

	</table>
	<%= will_paginate @violations, :params => { :type_name => @type_name } %>
</div>

