<h1><%= @player.guid%></h1>
<hr />
Links:
<ul>
<li><%= link_to image_tag("ggc.jpg"), "http://www.ggc-stream.net/search/server/guid/gid/#{@player.guid}", :target => "_blank" %></li>
<li><%= link_to 'Knife Echelon', "http://echelon.ms-gaming.com/cod4/knife/clients.php?s=#{@player.guid}&t=pbid", :target => "_blank" %></li>
<li><%= link_to 'Deathrun Echelon', "http://echelon.ms-gaming.com/cod4/deathrun/clients.php?s=#{@player.guid}&t=pbid", :target => "_blank" %></li>
</ul>
<hr />

<h1>Violations</h1>
<table class="text-center table">
<tr class="well text-uppercase" style="font-family: monospace">
	<td>Date</td>
	<td>Name</td>
	<td>Type</td>
	<td>Details</td>
	<td>Server</td>
	<td>Permlink</td>
</tr>

<% @violations.each do |viol| %>
	<% server = @servers.find(viol.server_id) %>
	<tr>
		<td><%= viol.date %></td>
		<td><%= viol.name %></td>
		<td><%= viol.type_name %></td>
		<td><%= viol.details %></td>
		<td><%= server.name %></td>
		<td><%= link_to '[link]', violation_path(viol) , :target => "_blank" %></td>
	</tr>
<% end %>

</table>

